<agm-map
  [latitude]="defaultLat"
  [longitude]="defaultLon"
  [zoom]="13"
  [styles]="styles"
  [disableDefaultUI]="true"
  [zoomControl]="true">
  <agm-marker-cluster
    imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <agm-marker
      *ngFor="let x of data"
      [latitude]="x.coord.lat"
      [longitude]="x.coord.lon"
      [iconUrl]="getIcon(x.vehicleType)"
      [draggable]="false">
      <agm-info-window>
        <strong>Line {{x.line}}</strong>
        <table>
          <tr>
            <td>Vehicle ID:</td>
            <td>{{x.id}}</td>
          </tr>
          <tr>
            <td>Type:</td>
            <td>{{x.vehicleType}}</td>
          </tr>
          <tr>
            <td>Capacity:</td>
            <td>{{x.capacity}} people</td>
          </tr>
          <tr>
            <td>Congestion:</td>
            <td>{{x.numberOfPeople / x.capacity | percent}}</td>
          </tr>
          <tr>
            <td>Location:</td>
            <td><a target="_blank" rel="noopener"
                   href="http://www.google.com/maps/place/{{x.coord.lat}},{{x.coord.lon}}">{{x.coord.lat}},{{x.coord.lon}}</a>
            </td>
          </tr>
        </table>
      </agm-info-window>
    </agm-marker>
  </agm-marker-cluster>
</agm-map>
