<mat-toolbar color="primary">
  <span>EasyBus</span>
  <span class="filler"></span>

  <button mat-icon-button *ngIf="isMapView()" routerLink="/list">
    <mat-icon aria-label="Switch view">list</mat-icon>
  </button>
  <button mat-icon-button *ngIf="isListView()" routerLink="/map">
    <mat-icon aria-label="Switch view">map</mat-icon>
  </button>

</mat-toolbar>
<router-outlet></router-outlet>
