<table id="table" mat-table [dataSource]="data">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" title="Tram" *ngIf="element.vehicleType == 'tram'">tram</i>
      <i class="material-icons" title="Bus" *ngIf="element.vehicleType == 'bus'">directions_bus</i>
    </td>
  </ng-container>

  <ng-container matColumnDef="line">
    <th mat-header-cell *matHeaderCellDef>Line</th>
    <td mat-cell *matCellDef="let element">{{element.line}}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">
      <a target="_blank" rel="noopener"
         href="http://www.google.com/maps/place/{{element.coord.lat}},{{element.coord.lon}}">{{element.coord.lat}},{{element.coord.lon}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="congestion">
    <th mat-header-cell *matHeaderCellDef>Congestion</th>
    <td mat-cell *matCellDef="let element">{{element.numberOfPeople / element.capacity | percent}}</td>
  </ng-container>

  <ng-container matColumnDef="capacity">
    <th mat-header-cell *matHeaderCellDef>Capacity</th>
    <td mat-cell *matCellDef="let element">{{element.capacity}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
